  body {
      margin: 0;
      padding: 0;
      overflow-x: hidden;
  }
  
  #container, .main-text {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

#container {
    position: relative;
}

.image-1{background-image: url("images/item.jpg");}
.image-2{background-image: url("images/flex.jpg");}
.image-3{background-image: url("images/item2.jpg");}

.slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
}

#item-container {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
}

#item-searcher input {
    width: 300px;
    border: black solid 1px;
    padding: 10px;
}

#collection {
    padding: 0;
    margin-top: 0;
}

#collection .item {
    list-style-type: none;
    width: 300px;
    border: black solid 1px;
    padding: 10px;
    background-color: white;
    display: none;
}

.buyItem {
    color: white;
    background-color: black;
    padding: 5px;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.cart-number {
    color: white;
    z-index: 1;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
}

#arrow-left {
    border-width: 30px 40px 30px 0;
    border-color: transparent white transparent transparent;
    border-style: solid;
    margin-left: 25px;
    left: 0;
}

#arrow-right {
    border-width: 30px 0 30px 40px;
    border-color: transparent transparent transparent white;
    border-style: solid;
    right: 0;
    margin-right: 25px;
}

#menu {
    background-color: black;
    color: white;
}

.nav-menu-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cart {
    position: absolute;
    right: 10px;
}

.logo-text {
    font-size: 4rem;
}

.menu-box {
    width: 35px;
    height: 5px;
    background-color: black;
    border: 2px solid white;
    margin: 6px 0;
}

.menu-icon {
    cursor: pointer;
    position: fixed;
    z-index: 1;
    margin: 10px;

    transition: all .5s ease-in;
}

.menu-icon:hover {
    background-color: white;
    border: 2px solid black;
    transition: all .5s ease-in;
}

#sub-nav {
    background-color: black;
    opacity: .9;
    position: fixed;
}

#sub-nav li {
    color: white;
    cursor: pointer;
    list-style-type: none;
    padding: 10px;
}

#sub-nav a {
    text-decoration: none;
    color: white;
}

#sub-nav a:hover {
    background-color: white;
    color: black;
}

.open {
    height: 100vh;
    width: 200px;
    margin-left: 0px;
    z-index: 1;
    transition: margin-left .5s ease;
}

.closed {
    height: 100vh;
    width: 200px;
    margin-left: -200px;
    z-index: 1;
    transition: margin-left .5s ease;
}

.content {
    margin: 100px;
}

#carousel {
    box-sizing: border-box;
    margin: auto;
    border: solid 5px black;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    width: 100%;
}

footer {
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
}